* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
body {
  font-size: 18px;
  font-family: "Josefin Sans", sans-serif;
  background-color: hsl(235, 21%, 11%);
}
ul,
li {
  list-style: none;
}
    