:root {
  --daniel-background: #7541c8;
  --jonathan-background: #48556a;
  --jeanette-background: #ffffff;
  --patrick-background: #19212e;
  --kira-background: #ffffff;
}

body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Barlow Semi Condensed", sans-serif;
  font-weight: 100;
  font-style: normal;
  background-color: #ecf2f8;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

.main {
  padding: 180px;

  display: grid;
  grid-template-columns: 3fr 1fr;
  width: 1440px;

  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.left-section {
  display: grid;
  color: white;
  margin-right: 20px;
}

.top-section {
  display: grid;
  grid-template-columns: 2fr 1fr;
  margin-bottom: 20px;
}

.bottom-section {
  display: grid;
  grid-template-columns: 1fr 2fr;
}

.right-section {
  color: #171f2c;
}

.container {
  border-radius: 8px;
  padding: 20px;
}

.personal-section {
  margin-bottom: 10px;
}

.name {
  font-weight: bolder;
  margin-bottom: 5px;
  padding: 0;
}

.graduated {
  opacity: 0.5;
  margin: 0;
  padding: 0;
}

.daniel {
  background-color: var(--daniel-background);
  margin-right: 20px;
}

.jonathan {
  background-color: var(--jonathan-background);
}

.jeanette {
  background-color: var(--jeanette-background);
  color: #171f2c;
  margin-right: 20px;
}

.patrick {
  background-color: var(--patrick-background);
}

.kira {
  background-color: var(--kira-background);
  height: 100%;
}

.personal-section {
  display: inline-block;
}

.title {
  margin-bottom: 10px;
  font-weight: bold;
}

.name-section {
  display: inline-block;
  position: relative;
  top: 50%;
}

.avt {
  border-radius: 50%;
  display: inline-block;
}
