:root {
  --daniel-background: #7541c8;
  --jonathan-background: #48556a;
  --jeanette-background: #ffffff;
  --patrick-background: #19212e;
  --kira-background: #ffffff;
}

body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Barlow Semi Condensed", sans-serif;
  font-weight: 100;
  font-style: normal;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

.main {
  background-color: #ecf2f8;
}

.container {
  margin: 20px;
  border-radius: 8px;
  padding: 20px;
}

.personal-section {
  margin-bottom: 10px;
}

.name {
  font-weight: bolder;
  margin-bottom: 5px;
  padding: 0;
}

.graduated {
  opacity: 0.5;
  margin: 0;
  padding: 0;
}

.left-section {
  color: white;
}

.right-section {
  color: #171f2c;
}

.daniel {
  background-color: var(--daniel-background);
}

.jonathan {
  background-color: var(--jonathan-background);
}

.jeanette {
  background-color: var(--jeanette-background);
  color: #171f2c;
}

.patrick {
  background-color: var(--patrick-background);
}

.kira {
  background-color: var(--kira-background);
}
